* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.wrapper {
    width: 400px;
    height: 400px;
    border: 1px solid;
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow-y: scroll; */
}

.wrapper .box {
    width: 100px;
    height: 100px;
    border: 1px solid;
    padding: 15px;
}